.Arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	cursor: pointer;
	display: inline-block;
	padding: 5px;
	position: absolute;
	top: calc(50% - 8px);
}

.Arrow-right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	right: 0;
}

.Arrow-left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
